{% extends "base.html" %}

{% load static %}

{% block title %}
  <title>Notepad Создание заметки</title>
{% endblock %}

{% block files %}

{% endblock %}

{% block content %}
    <h2>Создание новой заметки</h2>
    <form method="post">
        <p><label>Название:<br>{{ form.name }}</label></p>
        <p><label>Текст:<br>{{ form.text }}</label></p>
        <p><label>Дата публикации:<br>{{ form.date_published }}</label></p>

        {% if error %}
            <span>{{ error }}</span>
        {% endif %}
        <button type="submit">
            Создать заметку
        </button>
    </form>
{% endblock %}